<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bonewise</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5 text-center">

  <h1 class="mb-4">Bienvenido a BONEWISE</h1>

  <a href="/nuevo" class="btn btn-primary btn-lg m-2">
    Nuevo paciente
  </a>

  <a href="/buscar" class="btn btn-outline-secondary btn-lg m-2">
    Buscar paciente
  </a>

  <script src="/javascripts/inicio.js"></script>
</body>
</html>

